{% extends "bank_app/base_customer.html" %} {% block content %}

<h1>Transfer money</h1>

<form action="{% url 'bank_app:form_transfer_money' %}" method="POST">
	{% csrf_token %}
	<div class="input-group mb-3">
		<select
			class="custom-select"
			id="inputGroupSelect02"
			name="standard_account_number"
		>
			<option selected>Choose account to pay from</option>
			{% for account in accounts %}
			<option value="{{account.account_number }}">
				{{ account.account_number }}
			</option>
			{% endfor %}
		</select>
		<div class="input-group-append">
			<label class="input-group-text" for="inputGroupSelect02">Options</label>
		</div>
	</div>

	<div class="input-group mb-3">
		<input
			type="number"
			class="form-control"
			name="amount"
			min="0"
			step=".01"
		/>
		<div class="input-group-apppend">
			<span class="input-group-text">DKK</span>
		</div>
	</div>
	<div class="input-group mb-3">
		<input
			type="number"
			class="form-control col-2"
			name="bank_code"
			placeholder="code"
		/>
		<input
			type="account"
			class="form-control col-10"
			name="receiver_account_number"
			placeholder="Receiver account number"
		/>
	</div>
	<textarea
		class="form-control"
		rows="5"
		name="description"
		placeholder="Transaction description"
	></textarea>
	<button class="btn btn-outline-secondary" type="submit">
		Transfer money
	</button>
</form>

{% endblock %} {% block footer %} {% endblock %}
