{% extends "bank_app/base_customer.html" %} {% block content %}

<h1>Take a loan</h1>

<form action="{% url 'bank_app:form_take_a_loan' %}" method="POST">
	{% csrf_token %}
	<div class="input-group mb-3">
		<select class="custom-select" id="inputGroupSelect02" name="account">
			<option selected>Choose account to receive money</option>
			{% for account in accounts %}
			<option value="{{account.account_number}}">
				{{ account.account_number }}
			</option>
			{% endfor %}
		</select>
		<div class="input-group-append">
			<label class="input-group-text" for="inputGroupSelect02">Options</label>
		</div>
	</div>

	<div class="input-group mb-3">
		<input
			type="text"
			class="form-control"
			name="amount"
			placeholder="How much money would you like to borrow?"
		/>

		<div class="input-group-apppend">
			<span class="input-group-text">DKK</span>
		</div>
	</div>
	<button class="btn btn-outline-secondary" type="submit">Take a loan</button>
</form>

{% endblock %} {% block footer %} {% endblock %}
